{% extends 'base.html' %} 
{% load static %} 
{% block title %} Home {% endblock%} 
{% block content %}
<div id="homepage">
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>
          Welcome to Image Processing
        </h3>
        <span>
          Remove your image background, add watermarks to your images for copyright sake
        </span>
      </div>
    </div>
  </div>
</div>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <!-- <label></label> -->
  <input type="file" name="image" required />
  <input type="submit" value="Submit" />
</form>
{% endblock %}
