{% extends 'base.html' %} {% load static %} {% block title %} Home {% endblock%}
{% block content %}
<div id="homepage">
  <div class="container">
    <div class="row">
      <div class="col py-5">
        <h3>Image Processing</h3>
        <span>
          Remove your image background, add watermarks to your images for
          copyright sake
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="{% url 'addwatermark' %}" class="btn btn-danger btn-sm"
          >Add Watermark</a
        >
        <a href="{% url 'removebgimg' %}" class="btn btn-success btn-sm"
          >Remove Image Background</a
        >
      </div>
    </div>
  </div>
</div>

{% endblock %}
